[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
python-owasp-zap-v2-4 = "*"
scrapy = "*"
ipython = "*"
psycopg2-binary = "*"
bs4 = "*"

[requires]
python_version = "3.6"
